body{
    background-color:rgb(233, 233, 233);
}
#lives, #question, p label,h3,h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
a {
    text-decoration: none;
    color:white;
}
#checkButton {
    border:1px solid white ;
    border-radius: 5px;
    padding: 5px 4px;
    background-color: #4267b2;
    color: white;



}
#answer {
    border: solid 1px black;
    border-radius: 10px;
    font-size: 17px;
    padding: 5px 8px;
    margin-right: 5px;

}
button{
    background-color: #42b72a;
    padding: 5px 4px;
    border-radius: 5px;
    border: white;
}