body{
    background-color:rgb(233, 233, 233);
}

ul{
    list-style-type: none;
}
li{
    margin-top: 10px;
    
}
input {
    border-radius: 10px;
    padding: 5px 4px;
    border: 0.1px solid white;
    z-index: 2;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: #42b72a;
    padding: 5px 4px;
    border-radius: 5px;
    border: white;
    z-index: 2;
}
#checkButton {
    border:1px solid white ;
    border-radius: 5px;
    padding: 5px 4px;
    background-color: #4267b2;
    color: white;
    z-index: 2;
}